@use 'utils' as utils;

.wrapper {
    .wrapper__form-container {
        .border-dashed {
            min-height: utils.pxToRem(250px);
        }

        img {
            max-width: 100%;
            max-height: utils.pxToRem(320px);
            object-fit: contain;
        }
    }
}